:root {
  --font-futura-medium: 'futura-pt', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  --font-futura-book: 'futura-pt', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  --font-weight-medium: 500;
  --font-weight-book: 400;
}
